/* Three image containers (use 25% for four, and 50% for two, etc) */
table {
	/*Defines some attributes for table environment*/
	margin-left: -20px;
	table-layout: fixed;
}
td {
	/*Defines some attributes for containers*/
	width: 100;
	vertical-align: top;
	padding-right: 15px;
	padding-bottom: 15px;
}

th {
	/*Defines some attributes for headers*/
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	padding-right: 15px;
}

img { 
	/*Defines some attributes for images*/
  width: 100;
  height: 129;
}

.rotate {
	/*Defines the .rotate class that addresses the row labels*/
	width: auto;
	padding: 0px;
	transform: rotate(-90.0deg);
	-webkit-transform: rotate(-90.0deg);
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}

.zoomed {
	/* empty class to detect if image was zoomed or not */
}

